@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  background: #519;
  padding: 0 20px;
}

::selection{
  color: #fff;
  background: #664AFF;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 10vh;
  max-width: 450px;
  margin: 150px auto;
  background: #fff;
  border-radius: 5px;
}

.container h2{
  color: #519;
}

.container .search{
  background: #fff;
  width: 100%;
  border-radius: 5px;
  position: relative;
  box-shadow: 0px 1px 5px 3px rgba(0,0,0,0.12);
}

.search input{
  height: 55px;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 0 60px 0 20px;
  font-size: 18px;
  box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
}

.search.active input{
  border-radius: 5px 5px 0 0;
}

.search .list{
  padding: 0;
  opacity: 0;
  pointer-events: none;
  max-height: 280px;
  overflow-y: auto;
}

.search.active .list{
  padding: 10px 8px;
  opacity: 1;
  pointer-events: auto;
}

.list li{
  list-style: none;
  padding: 8px 12px;
  display: none;
  width: 100%;
  cursor: default;
  border-radius: 3px;
}

.search.active .list li{
  display: block;
}
.list li:hover{
  background: #efefef;
}

.search .icon{
  position: absolute;
  right: 0px;
  top: 0px;
  height: 55px;
  width: 55px;
  text-align: center;
  line-height: 55px;
  font-size: 20px;
  color: #644bff;
  cursor: pointer;
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #85A98F, #D3F1DF);
  color: white;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background: #101020;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #0dcaf0;
}

#search-bar {
  width: 40%;
  padding: 8px;
  border: none;
  border-radius: 5px;
  outline: none;
  font-size: 16px;
  background: #f2f2f2;
  color: #101020;
}

.product-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
}

.product-card {
  background: #1a1a3c;
  border-radius: 20px;
  text-align: center;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.product-card img {
  width: 100%;
  border-radius: 20px;
  height: 200px;
  object-fit: contain;
}

.product-card h2 {
  font-size: 18px;
  margin: 10px 0;
}

.product-card p {
  margin: 5px 0;
  font-size: 16px;
}

.product-card button {
  margin: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  background: #0dcaf0;
  color: rgb(68, 82, 241);
  transition: background 0.3s;
}

.product-card button:hover {
  background: #0b8bb3;
}

.footer {
  text-align: center;
  padding: 15px;
  background: #101020;
  font-size: 14px;
  color: #8f8f8f;
}


  